{% extends "site_base.html" %}

{% block title %}About this archive{% endblock %}

{% block section_class %}page{% endblock %}

{% block content %}

<h1>About this archive</h1>

<p>Founded in 1870, the <a href="https://sfmicrosociety.org/">San Francisco Microscopical Society</a> is a community of aspirational, amateur, and professional microscopists with <a href="https://sfmicrosociety.org/history">a rich history</a>.</p>

<p>This website provides a search engine over scanned documents from the archives of the society.</p>

<p>You can see how the site works in the <a href="https://github.com/simonw/sfms-history">sfms-history</a> repository on GitHub.</p>

{% endblock %}
