{% extends "site_base.html" %}

{% block title %}About this archive{% endblock %}

{% block section_class %}page{% endblock %}

{% block content %}

<h1>About this archive</h1>

<p>The <a href="https://sfmicrosociety.org/">San Francisco Microscopical Society</a> archives provide access to thousands of records from the history of the Society, from 1870 to today, as well as materials that were owned by the Society's members.</p>

<p>Some of the materials available may reflect outdated, biased, offensive, and possibly violent views and practices and are preserved for their historical significance.</p>

<p>If you discover personal, private, or harmful content that should be flagged for our further review, please email <a href="mailto:hello@sfmicrosociety.org">hello@sfmicrosociety.org</a> with the subject line "History Review Request".</p>

<p>You can see how the site works in the <a href="https://github.com/simonw/sfms-history">sfms-history</a> repository on GitHub.</p>

{% endblock %}

{% block footer %}{% endblock %}
