{% extends "site_base.html" %}

{% block title %}{{ page.path }} - Page {{ page.page }}{% endblock %}

{% block section_class %}page{% endblock %}

{% block content %}
<div class="result">
<h2>{{ page.filename }}</h2>
<p class="folder">{{ page.folder }}/</p>
<h3>Page {{ page.page }}</h3>

{% if page_numbers|length > 1 %}
  <p>Pages: {% for page_number in page_numbers %}
    {% if page_number != page.page %}<a href="/docs/{{ page.document_id }}/{{ page_number }}">{{ page_number }}</a>
    {% else %}<strong>{{ page_number }}</strong>
    {% endif %} &middot;
  {% endfor %}
  <a href="/docs/{{ page.document_id }}">All pages</a>
  </p>
{% endif %}

<pre>
{{ page.text }}
</pre>

<img src="{{ imgix_sign("{}?page={}&w=1024&auto=format".format(page.imgix_url, page.page)) }}">
</div>
{% endblock %}
